<div class="title_search">
  <h1 class="title">Top Bikes</h1>
  <div class="search">
    <app-bike-search ></app-bike-search>
  </div>
</div>
<div class="top-bikes">
  <div @cardAnim class="top-bikes_bike-card" *ngFor="let bike of bikes$| async">
    <a routerLink="/detail/{{bike.id}}">
      <div class="bike-card_body">
        <div class="bike-card_img">
          <img class="bike-img" [src]=bike.img alt="bike">
        </div>
        <div class="bike-card_info">
          <h3>{{bike.name}}</h3>
          <p>{{bike.cost | currency:"RUB":"symbol-narrow":"2.0" }}</p>
        </div>
      </div>
    </a>
  </div>
</div>

