label{
    display:block;
    margin: 10px 0px 5px 0px;
}
input{
    display: block;
    width: 100%;
    color: #212529;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    padding: 5px 10px;
}
button{
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: #535455 2px solid;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    cursor: hand;
}
.checkbox{
    margin: 10px 5px 0 0;
    display: flex;
    justify-content: space-between;
    & input{
        display: inline-block;
        width: auto;
        height: 15px;
        align-self: center;
        justify-self: end;
    }
}