/* HeroesComponent's private CSS styles */
.content-container{
  max-width: 70%;
  margin: auto;
}

.bikes-list_head{
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 0px 10px; 
}
.add-button{
  align-self: center;
  font-size: 18px;
  border: #535455 2px solid;
  border-radius: 5px;
  padding: 2px 5px;
}
.bikes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  margin: auto;
}
h2{
  margin: 10px 5px;
}
.bikes li {
  display: flex;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
}
 
.delete{
  padding: 5px;
}
.bikes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
 
.bikes a {
  color: #888;
  text-decoration: none;
  display: block;
}
 
.bikes a:hover {
  color:#607D8B;
}
 
.bikes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0.7em 0.7em;
  background-color: #607D8B;
  position: relative;
  left: -1px;
  top: 1px;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}