<div class="content-container">
<div class="bikes-list_head">
  <h1>My Bikes</h1>
    <div>
      <button class="button" (click)= "openFilter();">
        filter
      </button>
      <button class="button" (click)= "add();">
        add new bike
      </button>
    </div>
</div>
<ul class="bikes">
    <li *ngFor="let bike of bikes$|async"  @listAnim>
        <a routerLink="/detail/{{bike.id}}">
            <span class="badge">{{bike.id}}</span> {{bike.name}}
        </a>
        <button class="delete" title="delete bike"
            (click)="delete(bike)">x</button>   
    </li>
</ul></div>
<app-modal-window [windowService]='modalService' *ngIf="modalService.isVisible$| async">
  <app-modal-bike-list></app-modal-bike-list>
</app-modal-window>
<app-modal-window [windowService]='filterService' *ngIf="filterService.isVisible$| async">
  <app-filter-bike-list></app-filter-bike-list>
</app-modal-window>