/* HeroSearch private styles */
.search-result li {
    border: 1px solid #bdbdbd;
    width: 200px;
    height: 25px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
  }
  .search-result{
    position: absolute;
  }
  .search-result li:hover {
    background-color: #607D8B;
  }
   
  .search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
    height:  30px;
  }
   
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: white;
  }
  #search-box {
    width: 250px;
    height: 30px;
    font-size: 18px;
    padding: 0px 5px;
  }
  #search-component{
    display: inline;
  }
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }