/* MessagesComponent's private CSS styles */
.messages-line {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: red;
    padding: 5px
}
.messages-line_text{
  text-align: center;
}
.clear {
  color:black;
  background-color: red;
  position: absolute;
  top: 5px;
  right: 5px;
}
